header {
margin-bottom:10%;	
}

.segment {
text-align:center;
font-size:2rem;
height:30%;
width:100%;
display:block;
float:left;
margin-bottom:6%;
}
.segment:first-child {
margin-top:0%;
}
.elementSegment>img {
height:100%;
width:auto;	
}
.elementSegment {
width:100%;
float:left;
}

.circle {
  width:1%;
  height: 2%;
  border-radius: 50%;
  background-color: white;	
  margin-left:49.5%;
  margin-right:49.5%;
  float:left;
  display:block;
  margin-bottom:2%;
}

#copyLink {
margin-left:36%;
font-size:3rem;
background-color:#656565;
float:left;
text-align:center;
box-shadow: 1px 26px 24px 0px rgba(0, 0, 0, 1);
margin-top:5%;
margin-bottom:5%;
border-radius:5%;
width:20%;
margin-left: 40%;
padding: 2.5% 0%;
}